body {
    font: 12px 'Microsoft YaHei',SimSun,Helvetica,Tahoma,Arial,sans-serif!important;
    background-color: #eeeeee;
}

#main {
    position: absolute;
    left: 50%;
    width: 800px;
    height: 295px;
    margin-top: 50px;
    margin-left: -400px;
    padding-top: 50px;

    background-color: #d5d9dc;
    border-top-left-radius: 7px 21px;
    border-top-right-radius: 7px 21px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0 0 8px #bbb, 0 1px 0 #aaa, 0 4px 0 #bbb, 0 10px 30px #ddd;
}

.m-keyboard {
    padding: 0;
    margin: 0;
    text-align: center;
}

.m-keyboard .keyValue {
    position: relative;
    top: 20px;
}

.m-keyboard .m-keyboard-key {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 55px;
    margin: 6px;
    font: bold 16px arial;
    line-height: 55px;
    color: #aaa;
    background: #eff0f2;
    text-decoration: none;
    text-shadow: 0px 1px 0px #f5f5f5;
    border-radius: 5px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
    box-shadow: inset 0 0 2em #e8e8e8, 0 3px 0 #c3c3c3, 0 3px 2px #333;
}

.m-keyboard .m-keyboard-key:hover {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ccc;
    box-shadow: inset 0 0 2em rgba(0,0,0,.075),0 0 2px rgba(0,0,0,.5);
}

.m-keyboard .m-keyboard-key-active {
    background-color: #eaeaea;
    box-shadow: inset 0 0 2em rgba(0,0,0,.05),0 2px 0 #ddd,0 -1px 2px rgba(0,0,0,.5);
}

#message {
    display: block;
    height: 30px;
    margin-top: 100px;
    font-size: 24px;
    text-align: center;
    color: #ccc;
}

#hidden {
    display: none;
}

#main .avatar {
    position: absolute;
    bottom: 1px;
    left: 3px;
    width: 16px;
    height: 16px;
    opacity: .3;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 1px 2px #333 inset;
}

/*以下样式与js.js中[鼠标移入移出有关]，相关功能暂时不启用，故注释*/

/*#main li div {
    position: absolute;
    left: 0;
    top: 0;
}

#main div a {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-left: 3px;
    cursor: pointer;
}
*/
